/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************** 
    Header 
*****************/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #15304c;
  height: 70px;
  position: relative;
}
.logo {
  flex-grow: 1;
}
.logo img {
  width: 200px;
  margin-left: 20px;
}

/* Navigace */

nav {
  margin-right: 30px;
}
nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}
nav li a {
  text-decoration: none;
  color: white;
}

.menu-icon {
  display: block;
  color: white;
  font-size: 23px;
}

/*********************
    Welcome section
*********************/

.welcome {
  background: url("./img/background.jpg");
  min-height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
}
